{
  "theme": "light",
  "materiales_bd_path": "C:/Users/jorge/OneDrive/Documentos/Python/Canalizaciones/libs/materiales_bd.lib",
  "last_project_path": "C:/Users/jorge/OneDrive/Documentos/Python/Canalizaciones/proyecto prueba.proj.json",
  "ui": {
    "window_size": [
      1920,
      991
    ],
    "window_pos": [
      -1,
      -9
    ]
  }
}